<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>To-Do List Weekend 4 Challenge</title>
    <script type="text/javascript" src= "vendors/jquery-1.12.3.min.js"></script>
    <script type="text/javascript" src= "scripts/client.js"></script>
    <link rel="stylesheet" href= "main.css"/>
    <link href='https://fonts.googleapis.com/css?family=Just+Me+Again+Down+Here&subset=latin,latin-ext' rel='stylesheet' type='text/css'>

  </head>
  <body>
    <div id = 'main'>
    <h1> To Do List:</h1>
    <div id = 'entry'>
    <p>create your list:
    <input type="text" name="name" id="taskIn" value="" placeholder="enter a task here">
    <button type="button" name="button" id="submit">add task</button>
  </div>
    <h2> My List </h2>
    <div id= listDisplay>
    </div>
    <div id= "empty">
    </div>
    </div>
    </p>
  </body>
</html>
